/* colours and fonts */

body {
background-color: #E3E1D9;
color: #31363F;
font-family: "Neuton" serif;
font-size: 17px;
}
h1 {
	color: #151515;
	font-family: "Neuton" serif;
	font-size: 30px;
	font-weight: bolder;
}
h2	{
	color: #3468C0;
	font-family: "Neuton" serif;
	font-size: 25px;
    font-weight: bold;
}

img {
	width: 150px;
	border-radius: 0%;
}

/* custom design with class */
.container {
	width: 700px;
	margin: 40px auto;
}
@media (max-width: 800px) {
	.container {
		width: 700Px;
	}
}
@media (max-width: 500px) {
	.container {
		width: 400Px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rbga(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.image-circle {
	border-radius: 20%;
}
.btn-blue {
    background-color: #3468C0;
    color: white;
    padding: 15px 20px ;
    border-radius: 4px;
}
.btn-blue:hover{
	background-color: black;
	color: white;
}
.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
}
.list-inline i:hover {
	color: black;
}
